$font-size: 14px;
$font-size--small: 12px;
$font-family: "Open Sans", sans-serif;
$line-height: 24px;
$line-height--small: 20px;

// screens
$screen-md: 767px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1440px;

// containers
$container-lg: 992px;
$container-xl: 1106px;
$container-xxl: 1280px;

//colors
$black: #050f19;
$white: #ffffff;
$gray: #708598;
$background: #fafbfc;
$border: #eceff1;
$yellow: #fed83d;
